* {
    outline: 2px solid tomato;
}
/* Палитра
ФОНЫ
Цвет шапки фона: #FFFFFF 
Доп цвет заднего фона: #F5F4FA
Цвет подвала: #2F303A
ТЕКСТ
Основной цвет: #757575
Дополнительный цвет: #2196F3
Дополнительный цвет: #212121
*/
/* Переменные */
:root {
    /* Цвета текста */
    --primary-text-color: #757575;
    --additional-text-color: #212121;
    --hover-text-color: #2196F3;
    /* Цвета фона */
    --primary-background-color: #FFFFFF;
    --additional-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --border-header-color: #ECECEC;
}
/* Общее */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}
h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0px;
    padding: 0px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    border: none;
    font-family: inherit;

    background-color: var(--additional-background-color);
    color: var(--additional-text-color);
}
button:hover,
button:focus {
    cursor: pointer;

    background-color: var(--hover-text-color);
    color: var(--primary-background-color);
}
/* Контейнеры */
.container{
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 1200px;
}
.section {
    padding: 94px 0;
}
/* Помогалка */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Шапка & Футер*/
.section-header{
    border-bottom: 1px solid var(--border-header-color);

}
.nav-header-container{
    display: flex;
}
.company-name-word {
    color: var(--hover-text-color);
}

.order-section,
.section-title-text {
    font-size: 16px;
    line-height: 1.18;
}
.contacts-nav-header{
    display: flex;
}
.contacts-nav .contacts-nav-item + .contacts-nav-item{
    margin-left: 50px;
}
.main-text-section {
    color: var(--primary-background-color);
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--additional-text-color);
}
.site-nav .nav-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    padding-top: 32px;

    color: var(--additional-text-color);
}
.site-nav {
    display: flex;
}
.site-nav .site-nav-item:not(:last-child) {
    margin-right: 50px;
}
.site-nav .nav-link:hover,
.site-nav .nav-link:focus,
.contacts-nav .contacts-link:hover,
.contacts-nav .contacts-link:focus,
.contacts-nav .address-link:hover,
.contacts-nav .address-link:focus {
    color: var(--hover-text-color);
}
.address-link {
    font-style: normal;
}
.contacts-nav .contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;

    color: var(--primary-text-color);
}
.footer-section {
    font-weight: normal;
    padding: 60px 0;

    background-color: var(--footer-background-color);
}
.footer-link {
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.address-link {
    color: var(--primary-background-color);
}
/* Герой */
.order-section{
    text-align: center;
}
.main-text-section {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.order-section-button{
    display: inline-block;
    padding: 10px 32px;
    min-width:200px;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-family: inherit;
    
    text-decoration: none;
    text-align: center;

    color:var(--primary-background-color);
    background-color: var(--hover-text-color);
}
.sorting-button-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
.section-list-header{
    text-transform: uppercase;
    margin-bottom: 10px;
}
.example-link{
    text-decoration: none;

    color:var(--primary-text-color);
}
.example-header{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;

    color:var(--additional-text-color);
}
.example-paragraph{
    font-size: 16px;
    line-height: 1.18;
    text-decoration: none;
}
.section-list,
.example-list
{
    list-style: none;
}
.section-link{
    text-decoration: none;
} 
.section-title{
    font-size: 16px;
    line-height: 1.18;

    color:var(--additional-text-color);
}
.team-section{
    background-color: var(--additional-background-color);
}
.studio-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}